.App {
  text-align: center;
}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

select {
  margin: 20px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
}

.card {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s, border-color 0.3s;
  width: 50%;
}

.card h2 {
  color: var(--primary-color);
  margin-top: 0;
}

.primary-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primary-button:hover {
  opacity: 0.9;
}
