
/* themes.css */



@import './themes/asfalt-kemik.css';

@import './themes/light.css';

@import './themes/dark.css';

@import './themes/cupcake.css';

@import './themes/bumblebee.css';

@import './themes/emerald.css';

@import './themes/corporate.css';

@import './themes/synthwave.css';

@import './themes/retro.css';

@import './themes/cyberpunk.css';

@import './themes/valentine.css';

@import './themes/halloween.css';



html, body {
  overflow-x: hidden;
  width: 100%;
}

body {

  background-color: var(--void-primary);

  color: var(--text-primary);

  transition: background-color 0.3s, color 0.3s;

}
